@import '../../sassStyles.scss'; 

.footer {
    text-align: center;
    background-color: $header-footer-banner-color;
    line-height: 5em;
    width: 100%;   
    color: $header-footer-text-color;
    margin-top: 30px;
}