.dashboard {
    .up_next {
        background-color: grey;
        border: 1px black solid;
        height: 200px;
        width: 900px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: auto 200px 600px 100px auto;
        grid-template-areas: ". progress_bar next_task checkbox .";
        .progress_bar {
            grid-area: progress_bar;
            height: 100px;
            width: 100px;
        }
        .next_task {
            grid-area: next_task;
            font-size: 50px;
            text-align: center;
            line-height: 1em;
            width: 600px;
        }
        .checkbox {
            grid-area: checkbox;
            justify-self: start;
            display: flex;
            align-items: center;
            font-size: 20px;
            margin-left: 5px;
            input {
                zoom: 2;
                margin-right: 5px;
            }
        }
    }
    .rbc-calendar {
        .rbc-time-view {
            border: none;
            .rbc-time-content {
                display: none;
            }
            .rbc-time-header {
                border: 1px solid grey;
            }
        }
    }
}
